/* Глобальные стили */
body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;

  background-color: #039fe1;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.fixed-part {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 9px;

  background-repeat: no-repeat;
  background-position: center top; 
}

/* .header-container {
  width: 1200px;
  position: fixed;
  z-index: 9;
} */

/* Навигация */
.main-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

/* Главная навигация */
.nav-list {
  display: flex;
  justify-content: flex-start;
  
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Каждый элемент навигации */
.nav-item-ref {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 6px 13px 8px 13px;
  border-radius: 16px;  
}

/* Ссылки главного меню при нажатии */
.nav-item-ref:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

/* Элемент навигации по наведению */
.nav-item:hover .nav-item-ref {
  color: #323232;
  background-color: rgb(247, 246, 243);
  text-decoration: none;
}

/* Подменю навигации */
.sub-nav-container {
  display: none;  
}

.sub-nav-container {
  background-color: transparent;
  position: absolute;
  top: 36px;
  left: 353px;
  padding-top: 10px;
}

.sub-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  box-sizing: border-box;
  width: 158px;
}

.sub-nav-item {
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
}

.sub-nav-ref {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
  word-break: break-all;
  padding: 6px 20px 6px 20px;
  border-radius: 5px;
}

.sub-nav-ref:hover {
  background-color: #fbded8;
}

.sub-nav-ref:active {
  background-color: #f6b5a5;
}

.nav-item:hover .sub-nav-container {
  display: block;
  z-index: 1;
}

/* Правый блок с номером телефона и подсказкой как обращаться */
.phone-number {
  display: flex;
  flex-direction: column;
  align-content: center;

  margin: 0;
  padding: 0;

  font-size: 32px;
  font-weight: 600;
  line-height: 22px;

  color: #ffffff;
}

.phone-number-ref {
  text-decoration: none;
  color: #ffffff;
}

.contact-name {
  font-size: 11px;
}

/* Географическое расположение */
.studio-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Форма обратной связи */
.feedback {
  margin-left: auto;
  margin-right: auto;
  width: 600px;  
}

.form-feedback {  
  margin-left: auto;
  margin-right: auto;
}

.feedback-history {
  width: auto;
}

.form-item {
  display: flex;
  flex-direction: column;  
}

.btn {
  text-decoration: none;
  background: #26358c;
  color: white;
  text-align: center;
  outline: 2px solid;
  outline-offset: -7px;
  cursor: pointer;
  height: 40px;  
  padding: 9px;
}

.btn-form-feedback {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* Соц. сети */
.footer-social,
.studio-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  padding-top: 18px;

  width: 185px;
}

.footer-social-item {
  margin-right: 11px;
  margin-bottom: 29px;
}

.footer-social-item:nth-child(4n) {
  margin-right: 0;
}

.social-site {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 38px;
  height: 38px;

  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.502);
}

.svg-style {
  fill: #e6ebe9;
}

.social-site:hover {
  border: 3px solid rgba(255, 255, 255, 0.702);
}

.social-site:hover .svg-style {
  fill: #ffffff;
}

.social-site:active {
  border: 3px solid rgba(255, 255, 255, 0.702);
}

.social-site:active .svg-style {
  fill: #e9e9e9;
}